
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-fixed-side-child">
    <p><a href="~/Lieferantenverwaltung/Index">Lieferanten-Liste</a></p>
    <p><a href="~/Lieferantenverwaltung/LieferantHinzufuegen">Lieferant hinzufügen</a></p>
</div>

<h2>Index</h2>

