
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar_side_child navbar-inverse navbar-fixed-side-child">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Übersicht Lieferanten", "Index", "Lieferantenverwaltung")</li>
            <li>@Html.ActionLink("Lieferant hinzufügen", "LieferantHinzufuegen", "Lieferantenverwaltung")</li>
        </ul>
    </div>
</div>

<h2>Index</h2>

