
@{
    ViewBag.Title = "LieferantHinzufuegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar_side_child navbar-inverse navbar-fixed-side-child">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Übersicht Lieferanten", "Index", "Lieferantenverwaltung")</li>
            <li>@Html.ActionLink("Lieferant hinzufügen", "LieferantHinzufuegen", "Lieferantenverwaltung")</li>
        </ul>
    </div>
</div>

<h3>Lieferant hinzufügen</h3>

<div id="addsupplier">
    <table>
        <tr><td>Name</td><td><input id="name" type="text" /></td></tr>
        <tr><td>Straße</td><td><input id="strasse" type="text" /></td></tr>
        <tr><td>PLZ</td><td><input id="plz" type="text" /></td></tr>
        <tr><td>Ort</td><td><input id="ort" type="text" /></td></tr>
        <tr><td>Telefon</td><td><input id="telefon" type="tel" /></td></tr>
        <tr><td>Mobil</td><td><input id="mobil" type="tel" /></td></tr>
        <tr><td>Fax</td><td><input id="fax" type="tel" /></td></tr>
        <tr><td>E-Mail</td><td><input id="email" type="email" /></td></tr>
    </table>


    <br /><br /><br />
    <input id="zurücksetzen" type="reset" value="Zurücksetzen" class="btn btn-primary" />
    <input id="erstellen" type="submit" value="Erstellen" class="btn btn-primary" />
    <br /><br />
    <input id="zurueck" type="submit" value="Zurück" class="btn btn-primary" />
</div>