
@{
    ViewBag.Title = "BenutzerHinzufügen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Benutzerverwaltung</h2>
<h3>Benutzer hinzufügen</h3>

<div>
    <p><a href="~/Benutzerverwaltung/BenutzerDetails">Benutzer-Liste</a></p>
    <p><a href="~/Benutzerverwaltung/BenutzerHinzufuegen">Benutzer hinzufügen</a></p>
</div>

<div id="adduser">
    <p>Anrede</p>
    <select id="dropdown">
        <option value="herr">Herr</option>
        <option value="frau">Frau</option>
    </select>
    <p>Titel</p>
    <input id="titel" type="text" />
    <p>Name</p>
    <input id="name" type="text" />
    <p>Geburtsdatum</p>


    <p>Adresse</p>
    <input id="adresse" type="text" />

    <p>E-Mail</p>
    <input id="email" type="text" />

    <p>Benutzername</p>
    <input id="benutzername" type="text" />

    <br /><br /><br />
    <input id="zurücksetzen" type="reset" value="Zurücksetzen" />

    <input id="erstellen" type="submit" value="Erstellen" />
</div>




