
@{
    ViewBag.Title = "BenutzerHinzufügen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="navbar_side_child navbar-inverse navbar-fixed-side-child">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Übersicht Benutzer", "Index", "Benutzerverwaltung")</li>
            <li>@Html.ActionLink("Benutzer hinzufügen", "BenutzerHinzufuegen", "Benutzerverwaltung")</li>
        </ul>
    </div>
</div>

<h3>Benutzer hinzufügen</h3>



<div id="adduser">
    <table>
        <tr><td>Anrede</td><td><select id="dropdown">
                                    <option value="herr">Herr</option>
                                    <option value="frau">Frau</option>
                               </select></td></tr>
        <tr><td>Titel</td><td><input id="titel" type="text" /></td></tr>
        <tr><td>Name</td><td><input id="name" type="text" /></td></tr>
        <tr><td>Geburtsdatum</td><td><input ID="datum" type="date" /></td></tr>
        <tr><td>Adresse</td><td><input id="adresse" type="text" /></td></tr>
        <tr><td>E-Mail</td><td><input id="email" type="text" /></td></tr>
        <tr><td>Benutzername</td><td><input id="benutzername" type="text" /></td></tr>
    </table>


    <br /><br /><br />
    <input id="zurücksetzen" type="reset" value="Zurücksetzen" class="btn btn-primary" />
    <input id="erstellen" type="submit" value="Erstellen" class="btn btn-primary"/>
    <br /><br />
    <input id="zurueck" type="submit" value="Zurück" class="btn btn-primary" />
</div>




