
@{
    ViewBag.Title = "BenutzerHinzufügen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Benutzerverwaltung</h2>
<h3>Benutzer hinzufügen</h3>

<p>Benutzername</p>
<input id="benutzername" type="text" />
<p>Adresse</p>
<input id="adresse" type="text" />
<p>Name</p>
<input id="name" type="text" />

<input id="zurücksetzen" type="reset" value="Zurücksetzen" />

<input id="erstellen" type="submit" value="Erstellen" />



