
@{
    ViewBag.Title = "BenutzerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Benutzerverwaltung</h2>
<h3>Detailseite</h3>


<table style="width:100%;"><tr><td>Benutzername</td><td>...</td><td>+</td></tr><tr><td>Anrede</td><td>...</td><td>...</td></tr><tr><td>Name</td><td>...</td><td>...</td></tr></table>
