
@{
    ViewBag.Title = "BenutzerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p><a href="~/Views/Benutzerverwaltung/BenutzerDetails.cshtml">Benutzer-Liste</a></p>
    <p><a href="~/Views/Benutzerverwaltung/BenutzerHinzufügen.cshtml">Benutzer hinzufügen</a></p>
</div>

<h2>Benutzerverwaltung</h2>
<h3>Detailseite</h3>



<table style="width:100%;"><tr><td>Anrede</td><td>Titel</td><td>Name</td><td>Geburtsdatum</td><td>Benutzername</td><td>Benutzername</td><td>E-Mail</td><td>Rechtegruppe</td><td>Erstellt am</td><td>Ändern</td><td>Löschen</td></tr></table>
