
@{
    ViewBag.Title = "Benutzerverwaltung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p><a href="~/Benutzerverwaltung/Index">Benutzer-Liste</a></p>
    <p><a href="~/Benutzerverwaltung/BenutzerHinzufuegen">Benutzer hinzufügen</a></p>
</div>

<h2>Benutzerverwaltung</h2>
<h3>Benutzer-Liste</h3>



<table style="width:100%;">

    <tr><td>Benutzername</td><td>Name</td><td>Geburtsdatum</td><td>E-Mail</td><td>Rechtegruppe</td><td>Erstellt am</td><td>Bearbeiten</td><td>Löschen</td></tr>
    <tr><td>mmustermann</td><td>Max Mustermann</td><td>gestern</td><td>email@email.com</td><td>42</td><td>morgen</td><td><a href="~/Benutzerverwaltung/BenutzerDetails">+</a></td><td>-</td></tr>

</table>