
@{
    ViewBag.Title = "Benutzerverwaltung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Benutzer-Liste</p>
<p>Benutzer hinzufügen</p>

<h2>Benutzerverwaltung</h2>
<h3>Benutzer-Liste</h3>



<table style="width:100%;"><tr><td>Test1</td><td>Test2</td><td>adsf</td></tr><tr><td>adsf</td><td>afd</td><td>asdf</td></tr><tr><td>af</td><td>adsf</td><td>xycv</td></tr></table>