
@{
    ViewBag.Title = "Benutzerverwaltung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar_side_child navbar-inverse navbar-fixed-side-child">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Benutzer-Liste", "Index", "Benutzerverwaltung")</li>
            <li>@Html.ActionLink("Benutzer hinzufügen", "BenutzerHinzufuegen", "Benutzerverwaltung")</li>
        </ul>
    </div>
</div>

<h2>Benutzerverwaltung</h2>
<h3>Benutzer-Liste</h3>



<table style="width:100%;">

    <thead>
        <th>ID</th><th>Benutzername</th><th>Name</th><th>Geburtsdatum</th><th>E-Mail</th><th>Rechtegruppe</th><th>Erstellt am</th><th>Bearbeiten</th>
    </thead>
    <tbody>
        <tr><td>0815</td><td>mmustermann</td><td>Max Mustermann</td><td>gestern</td><td>email@email.com</td><td>42</td><td>morgen</td><td><a href="~/Benutzerverwaltung/BenutzerDetails"><img src="../Bilder/bearbeiten-button.jpg" alt="Bearbeiten" height="20px" /></a></td></tr>
    </tbody>

</table>