
@{
    ViewBag.Title = "SoftwareDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <p><a href="~/Softwareverwaltung/Index">Software-Liste</a></p>
    <p><a href="~/Softwareverwaltung/SoftwareHinzufuegen">Software hinzufügen</a></p>
</div>

<h2>SoftwareDetails</h2>

