@{
    ViewData["Title"] = "Startseite";
}

<div class="jumbotron">
    <h1>Zimmerverwaltung</h1>

    <p>Herzlich Willkommen zur Zimmerverwaltung der B3-Fürth.</p>
    <p>Bitte Loggen Sie sich <a asp-area="" asp-controller="Account" asp-action="Login">hier</a> ein um mit der Arbeit zu beginnen.</p>
</div>