
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-fixed-side-child">
    <p><a href="~/Geraeteverwaltung/Index">Geräte-Liste</a></p>
    <p><a href="~/Geraeteverwaltung/GeraetHinzufuegen">Gerät hinzufügen</a></p>
    <p><a href="~/Geraetkomponentenverwaltung/Index">Gerätkomponenten-Liste</a></p>
    <p><a href="~/Geraetkomponentenverwaltung/GeraetkomponenteHinzufuegen">Gerätekomponente hinzufügen</a></p>
    <p><a href="~/Geraeteartverwaltung/Index">Geräteart-Liste</a></p>
    <p><a href="~/Geraeteartverwaltung/GeraeteartHinzufuegen">Geräteart hinzufügen</a></p>
</div>


<h2>Geräteart-Liste</h2>



<table style="width:100%;">

    <thead><th>ID</th><th>Bezeichnung</th><th>Erstellt am</th><th>Bearbeiten</th></thead>
    <tbody<tr><td>42</td><td>Laptop</td><td>morgen</td><td><a href="~/Geraeteartverwaltung/GeraeteartDetails"><img src="../Bilder/bearbeiten-button.jpg" alt="Bearbeiten" height="20px" /></a></td></tr></tbody>

</table>