
@{
    ViewBag.Title = "RaumHinzufuegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar-fixed-side-child">
    <p><a href="~/Raumverwaltung/Index">Raum-Liste</a></p>
    <p><a href="~/Raumverwaltung/RaumHinzufuegen">Raum hinzufügen</a></p>
</div>


<h2>RaumHinzufuegen</h2>

